@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>User Information</h1>
    <form action="Index" method="POST">
        <div>
            <label>First Name:</label>
            <input type="text" value="John" required="true">
        </div>
        <div>
            <label>Last Name:</label>
            <input type="text" value="Doe" required="true">
        </div>
        <div>
            <label>Email:</label>
            <input type="email" placeholder="johndoe@example.mail">
        </div>
        <div>
            <label>Socials:</label>
            <input type="url" placeholder="instagram.com/johndoe">
        </div>
        <div>
            <input type="submit" value="Save" class="buttons">
        </div>
    </form>