@{
    ViewData["Title"] = "Home Page";
}

<h1>Posters</h1>
<section class="poster-grid">
    <article class="poster-preview">
        <a href="posters/poster-1.html"><img src="https://picsum.photos/200/300?&random=1"></a>
        <a href="posters/poster-1.html"><p class="name">Poster 1</p></a>
        <a href="posters/poster-1.html"><p class="time">07.04.2025</p></a>
    </article>
    <article class="poster-preview">
        <a href="posters/poster-2.html"><img src="https://picsum.photos/200/300?&random=2"></a>
        <a href="posters/poster-2.html"><p class="name">Poster 2</p></a>
        <a href="posters/poster-2.html"><p class="time">06.04.2025</p></a>
    </article>
    <article class="poster-preview">
        <a href="posters/poster-2.html"><img src="https://picsum.photos/200/300?&random=3"></a>
        <a href="posters/poster-2.html"><p class="name">Poster 2</p></a>
        <a href="posters/poster-2.html"><p class="time">06.04.2025</p></a>
    </article>
    <article class="poster-preview">
        <a href="posters/poster-2.html"><img src="https://picsum.photos/200/300?&random=4"></a>
        <a href="posters/poster-2.html"><p class="name">Poster 2</p></a>
        <a href="posters/poster-2.html"><p class="time">06.04.2025</p></a>
    </article>
    <article class="poster-preview">
        <a href="posters/poster-2.html"><img src="https://picsum.photos/200/300?&random=5"></a>
        <a href="posters/poster-2.html"><p class="name">Poster 2</p></a>
        <a href="posters/poster-2.html"><p class="time">06.04.2025</p></a>
    </article>
    <article class="poster-preview">
        <a href="posters/poster-2.html"><img src="https://picsum.photos/200/300?&random=6"></a>
        <a href="posters/poster-2.html"><p class="name">Poster 2</p></a>
        <a href="posters/poster-2.html"><p class="time">06.04.2025</p></a>
    </article>
</section>