@{
    ViewData["Title"] = "Home Page";
}

@model List<PosterModel>

<h1>Posters</h1>
<a class="button" asp-area="" asp-controller="Poster" asp-action="Create">Add Poster</a>
<section class="poster-grid">
    @{
        foreach (var poster in Model){
            <article class="poster-preview">
                <a asp-area="" asp-controller="Poster" asp-action="Index" asp-route-id=@poster.ID><img src="https://picsum.photos/200/300?&random=@poster.ID"></a>
                <a asp-area="" asp-controller="Poster" asp-action="Index" asp-route-id=@poster.ID><p class="name">@poster.Title</p></a>
                <a asp-area="" asp-controller="Poster" asp-action="Index" asp-route-id=@poster.ID><p class="time">@poster.Date</p></a>
            </article>
        }
    }
</section>