@{
    ViewData["Title"] = "Home Page";
    var Previews = (Dictionary<int, byte[]>)ViewBag.Previews;
}

@model List<PosterModel>

<h1>Posters</h1>
<a class="button" asp-area="" asp-controller="Poster" asp-action="Create">Add Poster</a>
<section class="poster-grid">
    @{
        foreach (var poster in Model){
            <article class="poster-preview">
                <a asp-area="" asp-controller="Poster" asp-action="Index" asp-route-id=@poster.ID><img src="data:image/jpg;base64, @Convert.ToBase64String(Previews[poster.ID])"></a>
                <a asp-area="" asp-controller="Poster" asp-action="Index" asp-route-id=@poster.ID>@poster.Title</a>
                <a asp-area="" asp-controller="Poster" asp-action="Index" asp-route-id=@poster.ID><p class="time">@poster.Date.ToString().Split(' ')[0]</p></a>
            </article>
        }
    }
</section>