@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Login / Register</h1>
<form action="Account" method="post">
    <div>
        <label>Username:</label>
        <input type="text" placeholder="Username" required="true">
    </div>
    <div>
        <label>Password:</label>
        <input type="password" placeholder="Password" required="true">
    </div>
    <div>
        <div class="buttons">
            <input type="submit" value="Login">
            <input type="submit" value="Register">
        </div>
    </div>
</form>